# Ignorar configuraciones sensibles
wp-config.php
.htaccess

# Ignorar archivos generados automáticamente
wp-content/uploads/
wp-content/cache/
wp-content/backup-db/

# Ignorar logs y archivos temporales
*.log
*.tmp

# Ignorar el núcleo de WordPress si solo trabajas en temas o plugins
index.php
license.txt
readme.html
xmlrpc.php
wp-*.php
wp-admin/
wp-includes/
